a {
  color: #005dab;
  text-decoration: none;
}

.error {
  border: 1px solid #E3E3E3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffebeb;
  border-color: #c99;
  color: #a00;
}

.title {
  color: #005dab;
  font-size: 26px;
  line-height: 30px;
}

.result {
  height: 42px;
  line-height: 40px;
  padding-left: 1px;
}

.result img {
  width: 40px;
  vertical-align: middle;
  margin-right: 1.2em;
}

.result:nth-child(2n+1) {
  background: #F3F3F3;
}

.button {
  font:-webkit-small-control;
  -webkit-appearance: button;
  padding: 2px;
  color: black;

  border-radius: 6px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  box-shadow: 0px 0px 4px 0px #ffffff;
  border: 1px solid;
  background-color: buttonface;
}
