<html ng-app="LinkApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="{{url_for('static', filename='li.js')}}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body ng-controller="GroupSearch">
    <h2 class="title"><a href="http://salesloft.com/auto-prospecting-tool/" title="Auto-Prospecting Tool Feeder">Auto-Prospecting Tool Feeder</a></h2>
    <p>Start typing your search criteria to automatically find the LinkedIn Company or Group.</p>
    <p>Once you locate the correct reference, click the <i>'Google People'</i> button to feed the proper reference into Google for
      SalesLoft's Auto-Prospecting Tool featured at B2BCamp Atlanta 2013.</p>
    <p class="error" ng-show="results.error">
      An error has occurred while trying to search using your criteria. It has been noted that certain LinkedIn
      accounts prevent this page from working while they are logged in. If you are logged in to LinkedIn
      please log out and try again. We are working to resolve this matter.<br /><br />
      Thank You
    </p>
    <form name="liForm">
      <input type="text" name="input" ng-change="query(input, results)" ng-model="input" required>
      <select ng-model="search">
        <option ng-repeat="search in searches" value="[[search.toLowerCase()]]" ng-selected="search=='All'">
         [[search]] [[results[search.toLowerCase()] != undefined && results[search.toLowerCase()].length != 0 && '('+results[search.toLowerCase()].length+')' || '']]
        </option>
      </select>
    </form>
    <div class="result" ng-repeat="row in results[search]">
      <img src="[[row.image]]">
      <a ng-href="[[row.url]]" target="_blank">[[row.name]]</a>
      <a class="button" ng-href="[[row.gurl]]" target="_blank">Google People</a>
    </div>
  </body>
</html>
